.roi-button{
  outline: none !important;

  &--primary{
    padding: .6em 1.5em !important;
    border-width: 3px !important;
    border-style: solid !important;
    border-radius: 1.5em !important;

    @mixin phone{
      padding: .6em 1em !important;

    }
  }
}