[input]{
  display: inline-block;
  font-weight: 400;
  color: #c36;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid rgb(64, 204, 51);
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.roi-button{
  outline: none;
  text-transform: uppercase;
  border: none;

  &--primary{
    border: 2px solid var(--color-primary-teal);
    background: #fff;
    color: var(--color-primary-teal);
    padding: --button-primary-padding;
  }

}