.result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1.8em;

  @mixin tab{
    padding: 1em 0.4em;
  }

  @mixin phone{
    padding: 0.7em 0;
  }

  &--border-right{
    border-right: 1px solid #e7e7e7;
  }

}