.roi-left {
	display: block;
	position: relative;
	padding: 0 60px;
	width: 40%;
	text-align: right;

	@mixin tab-port{
		width: 100%;
		text-align: left;
		padding: 0 0 0 20px;
		margin-bottom: 30px;
	}
}
