.could-do {
	&__iconwrapper {
		width: 100%;

		@mixin phone {
			width: 70%;
		}
	}

	&__icon {
		height: 85px;
	}

	&__text {
		margin: 10px 0;
		padding: 6px 0;
		border-top: 2px solid #e7e7e7;
		width: 100%;
		text-align: center;

		@mixin phone {
			width: 70%;
		}
	}
}
