.roi-tip-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
	top: 0;
	right: 20px;
	height: 30px;
	width: 30px;
  border-radius: 50%;

  &:hover + .roi-tip{
      visibility: visible;
      z-index: 5;
    }
}
