.roi-outer-wrapper *,
.roi-outer-wrapper *::before,
.roi-outer-wrapper *::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	line-height: inherit;
}

.roi-outer-wrapper {
	box-sizing: border-box;
	line-height: inherit;
}


