.roi-row {
	font-size: var(--fs-primary-paragraph);
	font-weight: var(--fw-primary);
}

.roi-tip {
	text-align: left;
	font-size: var(--fs-primary-sm);
}

.roi-button {
	text-align: center;
	text-transform: uppercase;
}
