.flex{
  display: flex;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.flex-row-space-between{
  flex-direction: row;
  justify-content: space-between;
}

.flex-column-end{
  flex-direction: column;
  align-items: flex-end;
}

.w-80{
  width: 80%;
}

.w-100{
  width: 100%;
}

.mb-small{
  margin-bottom: 30px;
}

.hidden {
  display: none;
}