.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-column{
	flex-direction: column;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-end {
	align-items: flex-end;
}

.flex-start{
	align-items: flex-start;
}

.inset-small {
	width: 80%;

	@mixin phone{
		width: 90%;
	}
}

.mb-small {
	margin-bottom: 40px !important;
}

.mb-medium {
	margin-bottom: 55px !important;
}

.mb-large {
	margin-bottom: 80px !important;

	@mixin phone{
		margin-bottom: 50px !important;
	}
}

.hidden {
	display: none;
}

.max-half-col{
	width: 50%;

	@mixin phone{
		width: 100%;
	}
}

.max-third-col{
	width: 33.3%;

	@mixin phone{
		width: 100%;
	}
}
