.roi-options{
  &__iconwrapper{
    color: inherit;
    &:not(:last-child){
      margin-right: 5px;
    }
  }

  &__icon{
    width: 18px;
    display: block;
    height: 18px;
    cursor: pointer;
    fill: currentColor;
    transition: all 200ms;
  }
}