.roi-admin-inner-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	min-height: 60vh;
}
