.roi-admin-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 2em;

	&__row {
		display: flex;
		align-items: center;
		height: 30px;
		border-bottom: 1px solid #e7e7e7;
	}

	&__cell {
		flex: 1;
	}

	&__check-cell {
		width: 30px;
	}

	&__options-cell {
		width: 30px;
	}
}
