.roi-admin-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 2em;

	&__row {
		display: flex;
		align-items: center;
		padding: .6em 0;

		&:not(:first-child){
			border-bottom: 2px solid #e7e7e7;

			&:hover{
				border-bottom: 2px solid #000;
			}
		}

		&:hover > .roi-admin-table__options-cell{
			color: #000;
		}
	}

	&__cell {
		flex: 1;
	}

	&__check-cell {
		width: 30px;
	}

	&__options-cell {
		width: 30px;
		color: #ccc;
	}
}
