.roi-admin-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1em 4em;
	background: #fff;
	border-bottom: 2px solid #ccc;

	&__title {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;

		& h1 {
			line-height: 30px;
		}
	}

	&__description {
		display: flex;
		margin-left: 50px;
		flex-direction: column;
	}

	&__timezone {
		text-decoration: italic;
	}

	&__tools {
		width: 100%;
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: center;
		justify-content: space-between;
	}

	&__show {
		display: flex;

		@media screen and (max-width: 1210px) {
			width: 100%;
			margin-top: 20px;
		}
	}

	&__display {
		display: flex;
		flex-direction: column;
	}

	&__count {
		font-size: 16px;
		margin-top: 5px;
	}

	&__controls {
		display: flex;
		transition: all 200ms;

		@media screen and (max-width: 1210px) {
			width: 100%;
			justify-content: flex-end;
		}

		@mixin phone {
			width: 100%;
			justify-content: space-around;
		}
	}

	&__button {
		color: #54595f;
		margin-left: 50px;
		border: 2px solid #54595f;
		border-radius: 7px;
		padding: 0.8em 1.8em;
		cursor: pointer;
		text-transform: uppercase;
		transition: all 200ms;
		font-weight: 600;

		&:hover {
			color: #fff;
			background-color: #54595f;
		}
	}

	& p {
		margin: 0;
	}
}
